#!/bin/bash
# Environment Variables
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export QT_QPA_PLATFORMTHEME="qt5ct"
export BROWSER=/usr/bin/firefox
export TERMINAL=/usr/bin/alacritty
export QT_FONT_DPI=96

# Set up Monitors
## DP-1 is passed through to Windows VM
xrandr \
    --output HDMI-0 --rotate normal --mode 3840x1600 --pos 2560x0 --crtc 1 --primary \
    --output DP-0 --rotate normal --mode 2560x1600 --pos 0x0 --crtc 0 \
    --output DP-1 --off

# Keyboard Options
setxkbmap -option caps:escape
setxkbmap -option compose:sclk

# Set default zoom on webcam
v4l2-ctl -d /dev/video0 --set-ctrl=zoom_absolute=140

# Set keyboard repeat delay in ms and rate/s
xset r rate 250 50 2> /dev/null

# Startup applications
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
/usr/bin/xfce4-power-manager &
